@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-v-1 {
}
.form-input,
.select-form {
  @apply block w-full border rounded-2xl p-2 w-full text-orange-50 bg-nav-gray;
}
.form-input:focus {
  @apply focus:outline-none focus:ring-1 focus:ring-nav-gray;
}
.submit-btn {
  @apply w-3/4 bg-[#f5a54a] p-2 px-4 text-nav-gray rounded-2xl hover:shadow-lg transition duration-300 ease-in-out  hover:shadow-nav-gray;
}
.submit-btn-2 {
  @apply w-fit bg-nav-gray p-2 px-4 text-orange-50 rounded-2xl hover:shadow-lg transition duration-300 ease-in-out  hover:shadow-nav-gray;
}
.label-form {
  @apply text-orange-50 cursor-pointer w-fit;
}
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8fr 1fr;
  gap: 8px 8px;
  grid-template-areas:
    'text image'
    'button button';
}
.button-form {
  grid-area: button;
}
.text-form {
  grid-area: text;
}
.image-form {
  grid-area: image;
}
table.basic thead tr td {
  @apply bg-nav-gray text-orange-50;
}
table.basic tr td {
  @apply border p-3 border-gray-800;
}
table.basic {
  @apply w-full;
}
table.basic a {
  @apply inline-flex items-center justify-center mr-2 text-sm w-fit bg-[#f5a54a] p-2 px-2 text-nav-gray rounded-lg hover:shadow-lg transition duration-300 ease-in-out  hover:shadow-nav-gray;
}
.button-red {
  @apply bg-red-400 p-4 px-8 rounded-lg transition duration-300 ease-in-out hover:shadow-lg hover:shadow-red-400 hover:text-white;
}
.button-default {
  @apply bg-green-400 p-4 px-8 rounded-lg transition duration-300 ease-in-out hover:shadow-lg hover:shadow-green-400 hover:text-white;
}
.button-edit {
  @apply inline-flex items-center justify-center mr-2 text-sm w-fit bg-[#f5a54a] p-3 px-2 text-nav-gray rounded-lg hover:shadow-lg transition duration-300 ease-in-out  hover:shadow-nav-gray;
}
.edit__buttons {
  @apply inline-flex items-center justify-center mr-2 text-sm w-fit bg-[#f5a54a] p-2 px-2 text-nav-gray rounded-lg hover:shadow-lg transition duration-300 ease-in-out  hover:shadow-nav-gray;
}
